*{
   margin: 0 ;
   padding: 0;
   box-sizing: border-box ;
}

body{
   background-color: #ccc ;
}
.container{
  
   max-width: 900px;
     margin: 0;
}

.apply_box{
   max-width: 600px;
   padding: 20px;
   background-color: white;
   margin: 0 auto;
   margin-top: 50px;
   box-shadow: 4px 2px 5px rgba(1, 1,1,0.2);
   border-radius:12px;
   .title_small{
}
   font-size: 24px;
}